<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS + Node App</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="app/app.style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="./app/app.controller.js"></script>
  </head>
  <body ng-controller="AppController as vm">
    <header>
      <h1>User Management</h1>
    </header>

    <div class="container">
      <h1>{{UserModel.username}}</h1>
      <h1>{{UserModel.email}}</h1>

      <!-- Form -->
      <form ng-submit="vm.addUser()">
        <input ng-model="vm.newUser.name" placeholder="Name" required />
        <input ng-model="vm.newUser.email" placeholder="Email" />
        <button type="submit">Add User</button>
      </form>

      <!-- User List -->
      <div ng-repeat="user in vm.users" class="user">
        <div>
          <strong>{{user.name}}</strong>
          <span>({{user.email}})</span>
        </div>
        <div class="user-actions">
          <button class="edit" ng-click="vm.edit(user)">Edit</button>
          <button class="delete" ng-click="vm.remove(user)">Delete</button>
        </div>
      </div>
    </div>
    <div>
      <button ng-click="printTable()">Print Table</button>

      <table
        border="1"
        width="50%"
        style="border-collapse: collapse; text-align: left"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.grade}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div id="card1" class="card">
        <h3>Report 1</h3>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <p>Some data here...</p>
        <button ng-click="printCard('card1')">Print PDF</button>
      </div>

      <div id="card2" class="card">
        <h3>Report 2</h3>
        <p>Some data here...</p>
        <button ng-click="printCard('card2')">Print PDF</button>
      </div>

      <div id="card3" class="card">
        <h3>Report 3</h3>
        <p>Some data here...</p>
        <button ng-click="printCard('card3')">Print PDF</button>
      </div>

      <div id="card4" class="card">
        <h3>Report 4</h3>
        <p>Some data here...</p>
        <button ng-click="printCard('card4')">Print PDF</button>
      </div>
    </div>
  </body>
</html>
